setup/zava-contain-crosslayer.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": { "description": "Azure region. Defaults to resource group location." }
    },
    "workspaceName": {
      "type": "string",
      "metadata": { "description": "Sentinel Log Analytics workspace name (e.g. law-soclab-v02)." }
    },
    "oaiResourceName": {
      "type": "string",
      "metadata": { "description": "Azure OpenAI resource name (e.g. oai-soclab-v02). Used in network-restriction step and containment comment." }
    }
  },
  "variables": {
    "logicAppName": "Zava-Contain-CrossLayer",
    "sentinelConnectionName": "azuresentinel-zava",
    "office365ConnectionName": "office365-zava",
    "storageAccountName": "stsoclabtgu35glfngjhc",
    "mariyaUPN": "mariya.petrova@AcesaDev.onmicrosoft.com",
    "approvalEmailAddress": "mariya.petrova@AcesaDev.onmicrosoft.com",
    "blobToDelete": "trusted-report.docx",
    "groundingContainer": "grounding"
  },
  "resources": [
    {
      "comments": "Sentinel API connection — managed identity auth, no manual OAuth required.",
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('sentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "azuresentinel-zava (managed identity)",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "comments": "Office 365 API connection — requires interactive OAuth authorization after deployment (RUNBOOK STEP 1f-iv).",
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "office365-zava (approval email)",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "identity": { "type": "SystemAssigned" },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "defaultValue": {}, "type": "Object" },
            "oaiResourceName": {
              "defaultValue": "[parameters('oaiResourceName')]",
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": { "callback_url": "@{listCallbackUrl()}" },
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "path": "/incident-creation-rule/subscribe"
              }
            }
          },
          "actions": {
            "Step_1_Revoke_sign-in_sessions": {
              "description": "Layer: Identity | In a production environment this calls Microsoft Graph to revoke all active sign-in sessions for mariya.petrova. In this lab the action is acknowledged as completed manually in Task 03.01.",
              "type": "Compose",
              "runAfter": {},
              "inputs": "[concat('Identity containment (acknowledged): Revoked sign-in sessions for ', variables('mariyaUPN'), ' — completed manually in Task 03.01.')]"
            },
            "Step_2_Disable_service_principal": {
              "description": "Layer: Identity | In a production environment this calls Microsoft Graph to disable sp-refund-agent-inference. In this lab the action is acknowledged as completed manually in Task 03.01.",
              "type": "Compose",
              "runAfter": {
                "Step_1_Revoke_sign-in_sessions": ["Succeeded"]
              },
              "inputs": "Identity containment (acknowledged): Disabled service principal sp-refund-agent-inference — completed manually in Task 03.01."
            },
            "Step_3_Delete_poisoned_document": {
              "description": "Layer: Data/AI | Delete trusted-report.docx from the grounding container in stsoclabtgu35glfngjhc.",
              "type": "Http",
              "runAfter": {
                "Step_2_Disable_service_principal": ["Succeeded"]
              },
              "inputs": {
                "method": "DELETE",
                "uri": "[concat('https://', variables('storageAccountName'), '.blob.core.windows.net/', variables('groundingContainer'), '/', variables('blobToDelete'))]",
                "headers": {
                  "x-ms-version": "2020-04-08",
                  "x-ms-date": "@{utcNow('R')}"
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://storage.azure.com/"
                }
              }
            },
            "Step_4_Send_approval_email": {
              "description": "Layer: — | Send approval email via Office 365 Outlook and wait for Approve/Reject.",
              "type": "ApiConnection",
              "runAfter": {
                "Step_3_Delete_poisoned_document": ["Succeeded"]
              },
              "inputs": {
                "body": {
                  "Message": {
                    "To": "[variables('approvalEmailAddress')]",
                    "Subject": "APPROVAL REQUIRED: Cross-layer AI containment - Zava incident",
                    "Body": "[concat('<p><strong>Cross-layer AI supply-chain attack detected.</strong></p><p>Automated containment completed:</p><ol><li>Revoked sign-in sessions - mariya.petrova</li><li>Disabled service principal - sp-refund-agent-inference</li><li>Deleted poisoned grounding document - ', variables('blobToDelete'), '</li></ol><p>Pending your approval: restrict public network access on <strong>', parameters('oaiResourceName'), '</strong> (blocks all non-VNet requests).</p><p>Select <strong>Approve</strong> to apply or <strong>Reject</strong> to skip.</p>')]",
                    "Importance": "High",
                    "Options": "Approve, Reject"
                  },
                  "NotificationUrl": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": { "name": "@parameters('$connections')['office365']['connectionId']" }
                },
                "method": "post",
                "path": "/approvalmail/$subscriptions"
              }
            },
            "Step_4b_Approval_condition": {
              "description": "Branch on the approval decision.",
              "type": "If",
              "runAfter": {
                "Step_4_Send_approval_email": ["Succeeded"]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Step_4_Send_approval_email')?['SelectedOption']",
                      "Approve"
                    ]
                  }
                ]
              },
              "actions": {
                "Step_5_Restrict_OpenAI_network_access": {
                  "description": "Layer: Infrastructure | Set networkAcls.defaultAction = Deny on the Azure OpenAI resource.",
                  "type": "Http",
                  "inputs": {
                    "method": "PATCH",
                    "uri": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/rg-soclab/providers/Microsoft.CognitiveServices/accounts/', parameters('oaiResourceName'), '?api-version=2023-05-01')]",
                    "body": {
                      "properties": {
                        "networkAcls": {
                          "defaultAction": "Deny",
                          "ipRules": [],
                          "virtualNetworkRules": []
                        }
                      }
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://management.azure.com/"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Step_5_Skipped": {
                    "description": "Approval rejected - network restriction skipped.",
                    "type": "Compose",
                    "inputs": "Network access restriction skipped - approval was rejected."
                  }
                }
              }
            },
            "Step_6_Post_containment_comment": {
              "description": "Layer: — | Post containment summary comment to the triggering Sentinel incident.",
              "type": "ApiConnection",
              "runAfter": {
                "Step_4b_Approval_condition": ["Succeeded"]
              },
              "inputs": {
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "@{concat('Zava-Contain-CrossLayer playbook completed.\n\n1. Revoked sign-in sessions - mariya.petrova (acknowledged)\n2. Disabled service principal - sp-refund-agent-inference (acknowledged)\n3. Deleted poisoned document - trusted-report.docx (grounding container)\n4. Approval email sent\n5. ', if(equals(body('Step_4_Send_approval_email')?['SelectedOption'], 'Approve'), 'Network access restricted on ', 'Network restriction skipped (approval rejected) - '), parameters('oaiResourceName'), '\n6. This containment summary posted to incident')}"
                },
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "method": "post",
                "path": "/Incidents/Comment"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
                "connectionName": "[variables('sentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": { "type": "ManagedServiceIdentity" }
                }
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          },
          "oaiResourceName": {
            "value": "[parameters('oaiResourceName')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'Full').identity.principalId]",
      "metadata": { "description": "Managed identity object ID. Use for RBAC assignments in RUNBOOK STEP 1f-iii." }
    },
    "office365ConnectionId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
      "metadata": { "description": "Office 365 API connection resource ID. Authorize it in the portal (RUNBOOK STEP 1f-iv)." }
    }
  }
}
